.mheader {
    color: black !important;
}


.mheader:hover {
    color: rgba(166,68,153) !important;
}

.header{
    background-color: rgba(254, 218, 0, 0.947) !important;
}

main {
    text-align: center;
    color: rgba(254, 218, 0, 0.947);
}

footer {
    text-align: center;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.unms-spotify {
    width: 260px;
    height: 220px;
    border-radius: 5%;
}

.unms-spotify:hover {
    -webkit-box-shadow: 0px 0px 25px -6px #81b71a;
    box-shadow: 0px 0px 25px -6px #81b71a;
}

.text-color-theme-orange {
    color: rgba(254, 218, 0, 0.947);
    font-weight: bold;
}

.text-color-theme-orange-padrao {
    font-family: 'bison-bold', sans-serif;
    color: rgba(254, 218, 0, 0.947);
    font-weight: bold;
    text-shadow: -2px 2px 0px #3d3d3d;
}

.logo {
    font-family: 'Jefith Personal Use', sans-serif;
    font-family: 'Jefith', sans-serif;
    font-size: 300%;
    color: rgba(0, 0, 0, 0.947);
    margin-right: 30px;
    margin-left: 20px;
}

.text-pad-ligth {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.text-title-pad-light {
    font-family: 'bison-bold', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: -2px 2px 0px rgba(254, 218, 0, 0.947);
    font-weight: bold;
}

.text-color-theme-green {
    color: rgba(166,68,153);
    font-weight: bold;
}

.conf-unms {
    font-family: 'bison-bold', sans-serif;
    color: rgba(166,68,153);
    text-shadow: -2px 2px 0px #000000;
    font-weight: bold;
}

.conf-unms-img {
    width: 300px;
    height: 220px;
    -webkit-box-shadow: 4px -2px 0px 2px #BEBEBE, 10px -8px 0px 2px #888888;
    box-shadow: 4px -2px 0px 2px #BEBEBE, 10px -8px 0px 2px #888888;
}

.conf-unms-img:hover {
    -webkit-box-shadow: 6px -4px 0px 2px #BEBEBE, 14px -12px 0px 2px #888888;
    box-shadow: 6px -4px 0px 2px #BEBEBE, 14px -12px 0px 2px #888888;
}

.body {
    background-color: black;
}

.textos-body {
    text-align: justify;
}

.mcarrousel {
    text-align: center;
    margin: auto;
    size: 90%;
}

.carouselimg {
    width: 100%;
    max-height: 85%;
    height: auto;
    object-fit: fill;
}

.redes-icon {
    width: 35px;
    height: 35px;

}

.img-ajust {

    margin-right: 15px;
    border-radius: 50%;

}

.rsocial {
    float: right !important;
    display: flex !important;
    height: 50px !important;
    margin: 0 auto;
    align-items: center !important;
    justify-content: space-between !important;
}

.button-sha {}

.button-sha:hover {}

.box {
    margin-left: 10px;
}

.box5 {
    position: static;
    float: right;
    margin: 0 auto;
    right: 5px;

}

.video {
    height: 450px;
    width: 200px;


}

#container {
    display: flex;
    flex-flow: row wrap;
}

.aside {
    flex: 30%;
    padding: 32px;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.rside {
    flex: 70%;

    padding: 10px;

}

.conteudo1,
.container,
.conteudo2 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}

.conteudo1 {
    background-color: #fff;
}

.container {}